html, body, .page {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
  -webkit-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
  -moz-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
  -o-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);  
  color: #fff;
  overflow: hidden; 

}

* {
  font-family: 'Montserrat', sans-serif;
}

.page {
  position: absolute;
}

#p1 {
  left: 0;
}

#p2, #p3, #p4, #p5 {
  left: 200%;
}

/** #p1 { background: darkslateblue; } **/
#p1 {background-color: black;}
#p2 { background: tomato; }
#p3 { background: gold; }
#p4 { background: deeppink; }
#p5 { background: rebeccapurple; }

#t2:target #p2,
#t3:target #p3,
#t4:target #p4,
#t5:target #p5 {
  transform: translateX(-190%);
  -webkit-transform: translateX(-190%);
  -moz-transform: translateX(-190%);
  -o-transform: translateX(-190%);
  transition-delay: .4s !important;
}

#t2:target #p1, 
#t3:target #p1,
#t4:target #p1,
#t5:target #p1{
  background: black;
}

#t2:target #p1 .icon, 
#t3:target #p1 .icon,
#t4:target #p1 .icon,
#t5:target #p1 .icon {
  -webkit-filter: blur(3px);
}

.icon {
  color: #fff;
  font-size: 2rem;
  display: block;
}

ul .icon:hover {
  opacity: 0.5;
}

.page .icon .title {
  line-height: 2;
}

#t2:target ul .icon,
#t3:target ul .icon,
#t4:target ul .icon,
#t5:target ul .icon{
  transform: scale(.6);
  -webkit-transform: scale(.6);
  -moz-transform: scale(.6);
  -o-transform: scale(.6);
  transition-delay: .25s;
}

#t2:target #dos,
#t3:target #tres,
#t4:target #cuatro,
#t4:target #cinco {
  transform: scale(1.2) !important;
  -webkit-transform: scale(1.2) !important;
  -moz-transform: scale(1.2) !important;
  -o-transform: scale(1.2) !important;
}

ul {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 280px;
  width: 10%;
  padding: 0;
  text-align: center;
 }

#menu .icon {
  margin: 30px 0;
  transition: all .5s ease-out !important;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
}

a {
  text-decoration: none;
}

.title, .hint {
  display: block;
}

.title {
  font-size: 2rem;
  text-align: center;
}

.hint {
  font-size: 13px;
}

#p4 .hint {
  display: inherit !important;
}

.hint a {
  color: rgb(255, 255, 255);
  transition: all 250ms ease-out;
  -webkit-transition: all 250ms ease-out;
  -moz-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
}

.hint a:hover {
  color: rgb(255, 255, 255);
}

.line-trough {
  text-decoration: line-through;
}

.page .icon {
  position: absolute;
  top:25%;
  bottom: 0;
  right:50% ;
  left: 0;
  width: 270px;
  height: 170px;
  margin-left: 35%;
  text-align: center;
  font-size: 80px;
  line-height: 1.3;
  transform: translateX(360%);
  -webkit-transform: translateX(360%);
  -moz-transform: translateX(360%);
  -o-transform: translateX(360%);
  transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
  -webkit-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
  -moz-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
  -o-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
}

.page#p1 .icon {
  height: 220px;
}

.page#p1 .icon {
  transform: translateX(10%) !important;
}

#t2:target .page#p2 .icon,
#t3:target .page#p3 .icon,
#t4:target .page#p4 .icon,
#t5:target .page#p5 .icon {
  transform: translateX(0) !important;
  -webkit-transform: translateX(0) !important;
  -moz-transform: translateX(0) !important;
  -o-transform: translateX(0) !important;
  transition-delay: 1s;
}


#social-media li {
  display: inline-block;
  font-size: 14px;
  margin: 0.5em;
  max-height: 0;
}

#headd {
  padding: 1rem;
  animation: flicker 5s infinite ;
  font-size: 2.3em;
  color: rgb(157, 249, 248);
}

@keyframes flicker {
  0% {
    opacity: 0;
  }
  9% {
    opacity: 0;
  }
  10% {
    opacity: 0.5;
  }
  13% {
    opacity: 0;
  }
  20% {
    opacity: 0.5;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}


:root {
  --primary-light: #888888;
  --primary: rgb(255, 250, 250);
  --primary-dark: #ff0f0f;
  --white: rgba(182, 255, 254, 0.752);
  --greyLight-1: rgb(81, 81, 81);
  --greyLight-2: rgb(51, 51, 51);
  --greyLight-3: #bec8e4;
  --greyDark: #696969;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.segmented-control {
  grid-column: 3/4;
  grid-row: 1/2;
  width: 30rem;
  height: 5rem;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  position: relative;
  text-align: center;
  margin: auto;
  top: 50%;
  
  
  
  
}
.segmented-control input {
  display: none;
}
.segmented-control > input:checked + label {
  transition: all 0.5s ease;
  color: var(--primary);
}
.segmented-control__1 a, .segmented-control__2 a, .segmented-control__3 a{
  width: 10rem;
  height: 3.6rem;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--greyDark);
  transition: all 0.5s ease;
}
.segmented-control__1 a :hover, .segmented-control__2 a :hover, .segmented-control__3 a :hover {
  color: var(--white);
}
.segmented-control__color  {
  position: absolute;
  height: 3.4rem;
  width: 10rem;
  margin-left: 10rem;
  border-radius: 0.8rem;
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
  pointer-events: none;
}

#tab-1:hover ~ .segmented-control__color {
  transform: translateX(-9.4rem);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  
}

#tab-2:hover ~ .segmented-control__color {
  transform: translateX(0);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#tab-3:hover~ .segmented-control__color {
  transform: translateX(9.4rem);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.but{
  padding-top: 12rem;

}


.page .ic{
  color: rgb(101, 101, 101);
  font-size: 2rem;
  margin: 5px;
}


form{
  position: relative;
  transform: translate(-50%,-50%);
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px;
  margin-top: 20%;
  margin-left: 45%;
}

#inp{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}

.sea{
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #07051a;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
}

form:hover,
form:valid{
  width: 300px;
  cursor: pointer;
}

form:hover #inp,
form:valid #inp{
  display: block;
}

form:hover .fa,
form:valid .fa{
  background: #07051a;
  color: white;
}


